<!DOCTYPE html>
<html>
  <head>
	    <meta charset="utf-8" />
    <title>Secured Card Transfer</title>
    <style>
        .parentDiv {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height:850px;
                    }
     
    </style>
  </head>
  <body bgcolor="black">
        <div class="parentDiv">
        <center><img src="{{ url_for('static', filename='failure.gif') }}"></center>
        </div>

    </body>
</html>
